.yellowtail-regular 
{
  font-family: "Yellowtail", Arial, Helvetica, sans-serif;
  font-style: normal;
}

h1
{
  font-weight: 900;
  font-style: italic;
}

nav
{
  display: inline;
}

.flex-container
{
  display: flex;
  flex-direction: row;
  background-color: #0b0b31;
}

.flexItem
{
  padding: 1px;
  font-size: 20px;
  text-align: center;
  color: white;
}

.flexItem:nth-child(2)
{
  width: 100px;
}

.DetroixPicture
{
  width: 100%;
}