.yellowtail-regular 
{
  font-family: "Yellowtail", Arial, Helvetica, sans-serif;
  font-style: normal;
}

h1
{
  font-weight: 900;
  font-style: italic;
}

a
{
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.NavBanner
{
  width: 100%;
  background-color: #0b0b31;
}

.flex-container
{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.flexItem
{
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  color: white;
}

.flexItem:nth-child(1)
{
  text-align: left;
  width: 100%;
}

.DetroixPicture
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.DetroixTitleSection
{
  width: 90%;
}

.DetroixFlexBox
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.DetroixFlexItems
{
  text-align: center;
}

.DetroixFlexItems:nth-child(1)
{
  text-align: left;
  width: 100%;
}